

html, body{
  margin: 0;
  padding: 0px;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* mga text sizes whatever the fuck */

h1 {
    font-size: 64px;
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    color: white;
}

h3 {
    font-size: 128px;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: white;
}

h4 {
    font-size: 21px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    color: balck;
}


/* Navigation */

.nav-bar {
    position: fixed;
    top: 10px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 12px 30px;
    margin: 20px auto;
    background-color: #f3f3f3;
    border-radius: 99999px;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 30px;
}

.main-nav li {
  margin: 0px 10px;
}

.main-nav a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  transition: color 0.3s ease;
}


/* sections and divs*/

.default-sec {
    display: flex;
    padding: 20px 80px;
    margin: 10rem 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* buttons */

.seemore-btn {
  display: block;
  align-items: center;
  padding: 12px 20px;
  margin: 1rem 0px;
  border-radius: 9999px;
  background-color: #fb6824;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.seemore-btn:hover {
  background-color: #df5025;
  transform: scale(1.05);
}

.abt-button {
  display: block;
  text-align: center;
  align-items: center;
  padding: 12px 20px;
  margin: 1rem 0px;
  font-size: 128px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;

  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease, transform 0.7s ease;
}

/* (Homepage) Hero page */

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding:40px;
    height: 85vh;
    width: auto;
    background-image: url(assets/homepage/hero-page-bg.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* (Homepage) mga div sa hero */

.div-left {
    display: flex;
    flex-direction: column;
    width: 70%;
}

/* (Homepage) cards */

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px;
}

.artist-card {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 50px 10px;
  background-color:#d4d4d4;
  border-radius: 40px;
  min-width: 200px;
  transition: all 0.3s ease;
}

.artist-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.nat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 10px;
  width: 350px;
  height: 450px;
  background-image: url(https://i.kym-cdn.com/photos/images/newsfeed/003/072/174/6fd.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.jj {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 10px;
  width: 350px;
  height: 450px;
  background-image: url(https://i.kym-cdn.com/photos/images/newsfeed/003/072/174/6fd.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.dave {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 10px;
  width: 350px;
  height: 450px;
  background-image: url(https://i.kym-cdn.com/photos/images/newsfeed/003/072/174/6fd.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* (Homepage) About the Gallery section */

.about-gallery {
    display: flex;
    padding: 20px 80px;
    margin: 10rem 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.about-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

}

.about-container h2{
  color: black;
  
}

.about {
  display: flex;
  flex-direction: column;
  flex: 1.25;
}

.about-right {
  display: flex;
  flex-direction: column;
  text-align: right;;
  flex: 0.75;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  border-radius: 25px;
}

.about-img img{
  height:30rem;
  width:100%;
  object-fit: cover;
  transition: filter 0.2s ease, transform 0.7s ease;
}

.about-img img:hover{
  transform: scale(1.15);
  filter: blur(8px);
}

.about-img:hover .abt-button {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.artistgrid{
  display: grid;
  margin: 100px;
  margin-left: 50px;
  margin-right: 50px;
  height: 1500px;
  width: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
  grid-template-areas:
  "box1 box1 box2"
  "box3 box4 box4"
  "box5 box5 box6";
  justify-content: center;
}

.artistcard {
  border: solid;
  background-color: #fb6824;
}